.header-backend {
    background-color: #b1291b;
    height: 100px;
    transition: 0.3s;

    h1 {
        color: white;
    }

    a{
        color: white;     
    }

    .figure-backend{
        width: 50px;
    }

    .nav-list a{
        font-size: 19px;
    }
}

.authentication {
    color: black;

    a {
        
    }
}
